.about {
  background: #EFEFEF;
}
.about .icon_group {
  display: flex;
  margin: 60px auto 100px;
  text-align: center;
  justify-content: space-around;
  align-content: space-around;
}

.about .icon_group img {
  margin-left: 100px;
  height: 100px;
}


@media (max-width: 720px) {
  .about .icon_group img {
    margin-left: 13vw;
    height: 12vw;
  }
}

@media (max-width: 480px) {
  .about .icon_group img {
    margin-left: 37px;
    height: 55px;
  }
}

.about .icon_group img:first-child {
  margin-left: 0;
}

.about ul li{
  margin-left: -40px;
  padding-left: 0;
  list-style-type: none;
}

.about .flow {
  margin-top: 20px;
  display: flex;
  text-align: center;
}

.about .flow p {
  text-align: justify;
}


@media (max-width: 640px) {
  .about .flow {
    flex-direction: column;
  }

  .about .flow > * {
    margin: 0 !important;
  }
}

.about .flow .flow-small {
  margin-bottom: 10px;
  height: 60px;
}

.about .choose .flow .flow-small {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: #BDDBDB;
}

.about .choose .flow .flow-small img {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.about .flow .flow-big {
  width: 100%
}

.about .flow h3 {
  font-size: 22px;
  font-weight: bold;
}

.about .flow .text-block p {
  font-size: 16px;
  padding: 0 15px 0;
  text-align: center;
}

.about .flow > * {
  flex:1;
  margin: 15px;
}

.about .flow > :first-child {
  margin-left: 0;
}

.about .flow > :last-child {
  margin-right: 0;
}

.text-block {
  background-color: #F8F8F8;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
}

.text-block:hover {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
}
.about .flow .text-block {
  padding-top: 40px;
  height: 350px;

}

.about .flow .text-block:hover {

}

@media (max-width: 420px) {
  .about .flow .text-block {
    height: 260px;
  }
}

.about .footer .image-group{
  display: flex;
}
.about .footer .image-group img {
  flex: 1;
  height: 23vw;
  margin-top: 5px;
  margin-left: 5px;
}

.about .footer .image-group img:first-child {
  margin-left: 0;
}

.about .footer .more {
  float: right;
  padding: 20px 20px 0 0;
}

.about .footer a {
  color: white;
}

.about .footer .copyright img {
  padding: 3px;
  height: 25px;
}

.about .footer .copyright {
  text-align: center;
  padding: 100px 0 50px 15px;
}

.about .footer {
  color: white;
  background: #262C35;
}
