.about .icon_group {
  display: flex;
  margin: 60px auto 100px;
  text-align: center;
}

.about .icon_group img {
  margin-left: 100px;
  height: 100px;
}


@media (max-width: 720px) {
  .about .icon_group img {
    margin-left: 13vw;
    height: 12vw;
  }
}

@media (max-width: 480px) {
  .about .icon_group img {
    margin-left: 40px;
    height: 55px;
  }
}

.about .icon_group img:first-child {
  margin-left: 0;
}

.about ul li{
  margin-left: -40px;
  padding-left: 0;
  list-style-type: none;
}

.about .footer .image-group{
  display: flex;
}
.about .footer .image-group img {
  flex: 1;
  height: 23vw;
  margin-left: 5px;
}

.about .footer .image-group img:first-child {
  margin-left: 0;
}

.about .footer .more {
  float: right;
  padding: 20px 20px 0 0;

}
.about .footer .copyright {
  padding: 50px 0 15px 15px;
}
