.about .icon_group {
  display: flex;
  margin: 60px 0px 100px;
}

.about .icon_group img {
  flex: 1;
  text-align: center;
  margin-left: 100px;
}

.about .icon_group img:first-child {
  margin-left: 0;
}

.about ul li{
  padding-left: 0;
  list-style-type: none;
}

.about .footer .image-group{
  display: flex;
}
.about .footer .image-group img {
  flex: 1;
  height: 23vw;
  margin-left: 5px;
}

.about .footer .image-group img:first-child {
  margin-left: 0;
}

.about .footer .more {
  float: right;
  padding: 20px 20px 0 0;

}
.about .footer .copyright {
  padding: 50px 0 15px 15px;
}
