.hero.header {
  background-image: url("../images/hero-blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  height: 480px;
}

.logo {
  position: absolute;
  left: 15%;
  top: 18%;
}

.home .logo {
  position: fixed;
  left: 15%;
  top: 18%;
}

@media (max-width: 480px) {
  .hero.header {
    height: 350px;
  }
  .logo {
    left: 10%;
    top: 10%;
  }
  .home .logo {
    left: 10%;
    top: 10%;
  }
}

.logo > nav {
  margin-left: 128px;
  font-size: 19px;
}

.logo > nav.white {
  margin-left: 128px;
  font-size: 19px;
  color: white;
}


.logo > nav.white > a {
  color: white;
}

.nav nav .active {
  text-decoration: underline;
}
