.hero.header {
  background-image: url("../images/hero-blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.logo {
  position: relative;
  left: 10%;
  top: 20%;
}

.logo > nav {
  margin-left: 128px;
  font-size: 19px;
}
