.hire-us .copyright {
  padding: 50px 0 15px 0;
}

.hire-us .left {
  text-align: left;
}

.hire-us .right {
  text-align: right;
}

.hire-us h3 {
  margin: 0;
}

.hire-us .contact-info {
  margin-top: 100px;
  font-weight: 600;
}

.hire-us .contact-info > div {
  padding: 15px 0;
}

.hire-us .contact-info a {
  color: #0b87d4;
}

.hire-us .contact-info .row .col{
  display: inline-block;
  width: 40%;
  padding: 15px;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .hire-us .contact-info .row .col {
    display: block;
    width: auto;
    padding: 10px;
  }

  .hire-us .col.right {
    text-align: left;
  }
}

.hire-us .google-maps {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}
.hire-us .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
