.home-bg {
  position: fixed;
  top: -50px;
  left: -50px;

  /* Preserve aspet ratio */
  min-width: calc(100vh + 100px);
  min-height: calc(100vh + 100px);
}

.home {
  overflow: hidden;
}

.home .social {
  position: fixed;
  left: 10%;
  top: 90%;
}

.home .social img {
  padding: 5px;
  height: 30px;
}
