.home-bg {
  position: fixed;
  top: -50px;
  left: -50px;
  /* Preserve aspet ratio */
  min-width: calc(100vw + 100px);
  min-height: calc(100vh + 100px);
}

.home #cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.hide {
  display: none;
}

@-webkit-keyframes run {
  from {
    left: 100vw; opacity: 0;
  }
  to {
    left: 0; opacity: 1;
  }
}

@-webkit-keyframes run2 {
  from {
    right: 0; opacity: 1;
  }
  to {
    right: 100vw; opacity: 0.5;
  }
}

.slide-in {
  animation:linear;
  animation-name: run;
  animation-duration: 0.8s;
  z-index: 0;
}

.slide-out {
  animation:linear;
  animation-name: run2;
  animation-duration: 0.8s;
  z-index: -1;
}

.home {
  overflow: hidden;
}

.home .social {
  position: fixed;
  left: 10%;
  top: 90%;
}

.home .social img {
  padding: 5px;
  height: 30px;
}

.caption {
  font-size: 16px;
  background: #121212;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: calc(100vh - 50px);
  height: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  padding: 7px 10px;
  border-radius: 5px;
  z-index: 2;
}

@media (max-width: 720px) {
  .caption {
    display: none;
  }
}
