.projects .nav {
  height: 60px;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 920px;
}

.projects .nav .brand img {
  margin-left: 10px;
  height: 60px;
  width: auto;
}

.projects .nav nav {
  float: right;
  margin-top: 40px;
}

.projects .nav nav > * {
  margin-right: 50px;
}

@media (max-width: 480px) {
  .projects .nav nav > * {
    margin-right: 10px;
  }
}

.projects > .content {
  max-width: 920px;
  padding: 0;
}

.projects .grid-row {
  display: flex;
  flex-direction: row;
}

.projects .grid-col {
  display: flex;
  flex-direction: column;
}

.projects .grid-item {
  flex: 1;
}

.projects .grid-row > .grid-item:nth-of-type(2),
.projects .grid-row > .grid-item2:nth-of-type(2) {
  padding-left: 5px;
}

.projects .grid-item2 {
  flex: 2;
}

.projects .content img {
  width: 100%;
  cursor: pointer;
}

.projects .copyright {
  padding: 50px 0 15px 0;
}

@media (max-width: 920px) {
  .projects .copyright {
    padding-left: 15px;
  }
}
