@import url('fonts/font.css');

html, div{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'National-Light', sans-serif;
  background: #EFEFEF url(./images/grid.png) repeat;
}

body.fullscreen {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0b87d4;
}

.content {
  max-width: 920px;
  margin: 0 auto;
  padding: 80px 20px 0;
}

@media (max-width: 720px) {
  .content {
    padding-top: 30px;
  }
}

.quote {
  margin-bottom: 80px;
  font-size: 32px;
}

.panel {
  margin-bottom: 100px;
}

.panel .panel-title {
  text-align: center;
  max-width: 400px;
  padding-bottom: 20px;
  margin: 0 auto 25px;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 7px;
  border-color: #BDDBDB;
  border-bottom-style: solid;
}

.panel .panel-body {
  font-size: 20px;
}

.blur-leave.blur-leave-active {
  opacity: 1;
}

.home.blur-leave.blur-leave-active > .home-bg {
  -webkit-animation: blur 1000ms ease-in forwards;
}

@keyframes blur {
  to {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }
}
